:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #ffffff;
  --second: #7c7c7c;
}

.hero__section {
  width: 1440px;
  height: 952px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../img/hero.jpg'), lightgray 50% / cover no-repeat;

  background-size: contain;
  background-position: center;
}
